.icon {
  font-size: 25rem;
}
.btnGeneral {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.cartBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cart {
  width: 60%;
  margin: 0 auto;
}
.delete-icon {
  cursor: pointer;
}
