.navbar__container {
  background-color: #4169e1;
  transition: all 0.7s;
  width: 100%;
  a {
    color: white;
  }
}
.dropdown {
  background-color: #3055c3;
}
.nav_linked {
  margin-right: 10px;
  text-decoration: none !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
